* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Saira", sans-serif;
  background-color: rgb(29, 28, 28);
  color: white;
}

div#container {
  height: 100vh;
  padding: 15% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

i {
  color: rgb(164, 98, 225);
  font-size: 3.3rem;
}

h1 {
  font-size: 4rem;
}

main {
  padding: 50px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  border: 3px solid rgb(164, 98, 225);
  border-radius: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 120px;
}

div.label-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1.5rem;
}

input {
  background-color: rgb(73, 70, 70);
  height: 100px;
  width: 130px;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 3.3rem;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.numbers_div {
  max-width: 50vw;
  max-height: 35vh;
  overflow-y: scroll;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

div.number {
  background-color: rgb(73, 70, 70);
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 2.2rem;
  text-align: center;
}

button {
  padding: 12px 50px;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(164, 98, 225);
  color: white;
  cursor: pointer;
}
